.env
.idea/
.vscode/
.gitignore
.venv/

### --- File cache --- ###

code/stats/__pycache__/
code/tests/__pycache__/

### --- CSV --- ###

Deciphering_Environmental_Air_Pollution.csv
Effets_de_la_pollution_atmosphérique_sur_la_santé.csv
Global_Ocean_Physics_Analysis_and_Forecast.nc
Pertes_economiques_provoquees_par_des_situations_climatiques_extremes.xml
Pollution_saleté_ou_autres_problèmes_environnementaux.csv
Système_de_diffusion_AQUASTAT.csv
Terrestrial_protected_area_by_designation_type.csv
Water_quality_data.csv
BDD/Water_quality_data.csv
code/__pycache__/__init__.cpython-313.pyc
code/config/__pycache__/scoring.cpython-313.pyc
code/core/__pycache__/clickhouse_manager.cpython-313.pyc
code/core/__pycache__/clickhouse_manager.cpython-314.pyc
code/core/__pycache__/logger.cpython-313.pyc
code/core/__pycache__/logger.cpython-314.pyc
code/core/__pycache__/manager.cpython-313.pyc
code/core/__pycache__/meta.cpython-313.pyc
code/core/__pycache__/schema.cpython-313.pyc
code/data/calendar.csv
code/data/customers.csv
code/data/products.csv
code/data/sales.csv
code/data/shipments.csv
code/inference/__pycache__/__init__.cpython-313.pyc
code/inference/__pycache__/adjacency.cpython-313.pyc
code/inference/__pycache__/join_candidate.cpython-313.pyc
code/inference/__pycache__/key_ranking.cpython-313.pyc
code/inference/__pycache__/low_cardinality.cpython-313.pyc
code/inference/__pycache__/primary_key.cpython-313.pyc
code/ingestion/__pycache__/__init__.cpython-313.pyc
code/ingestion/__pycache__/csv_loader.cpython-313.pyc
code/profiling/__pycache__/__init__.cpython-313.pyc
code/profiling/__pycache__/basic_profile.cpython-313.pyc
tests/__pycache__/conftest.cpython-313-pytest-8.3.4.pyc
tests/__pycache__/conftest.cpython-313-pytest-9.0.3.pyc
tests/core/__pycache__/test_clickhouse_manager.cpython-313-pytest-8.3.4.pyc
tests/core/__pycache__/test_clickhouse_manager.cpython-313-pytest-9.0.3.pyc
tests/core/__pycache__/test_csv_loader_helpers.cpython-313-pytest-8.3.4.pyc
tests/core/__pycache__/test_csv_loader_helpers.cpython-313-pytest-9.0.3.pyc
tests/inference/__pycache__/test_join_candidate.cpython-313-pytest-8.3.4.pyc
tests/inference/__pycache__/test_join_candidate.cpython-313-pytest-9.0.3.pyc
tests/inference/__pycache__/test_key_ranking.cpython-313-pytest-8.3.4.pyc
tests/inference/__pycache__/test_key_ranking.cpython-313-pytest-9.0.3.pyc
tests/inference/__pycache__/test_primary_key.cpython-313-pytest-8.3.4.pyc
tests/inference/__pycache__/test_primary_key.cpython-313-pytest-9.0.3.pyc
tests/ingestion/__pycache__/test_csv_loader.cpython-313-pytest-8.3.4.pyc
tests/ingestion/__pycache__/test_csv_loader.cpython-313-pytest-9.0.3.pyc
tests/profiling/__pycache__/test_basic_profile.cpython-313-pytest-8.3.4.pyc
tests/profiling/__pycache__/test_basic_profile.cpython-313-pytest-9.0.3.pyc
tests/stats/__pycache__/test_stats_computing.cpython-313-pytest-8.3.4.pyc
tests/stats/__pycache__/test_stats_computing.cpython-313-pytest-9.0.3.pyc
code/config/__pycache__/scoring.cpython-311.pyc
code/core/__pycache__/clickhouse_manager.cpython-311.pyc
code/core/__pycache__/logger.cpython-311.pyc
code/core/__pycache__/meta.cpython-311.pyc
code/core/__pycache__/schema.cpython-311.pyc
code/inference/__pycache__/__init__.cpython-311.pyc
code/inference/__pycache__/join_candidate.cpython-311.pyc
code/inference/__pycache__/key_ranking.cpython-311.pyc
code/inference/__pycache__/low_cardinality.cpython-311.pyc
code/inference/__pycache__/primary_key.cpython-311.pyc
code/ingestion/__pycache__/__init__.cpython-311.pyc
code/ingestion/__pycache__/csv_loader.cpython-311.pyc
code/profiling/__pycache__/__init__.cpython-311.pyc
code/profiling/__pycache__/basic_profile.cpython-311.pyc
code/__pycache__/main_validator.cpython-311.pyc
code/inference/__pycache__/composite_key.cpython-311.pyc
code/__pycache__/main.cpython-311.pyc
code/inference/__pycache__/primary_to_composite.cpython-311.pyc
