.env
.idea/
.vscode/
.gitignore
.venv/
*.pyc
*.csv
*__pycache__
*.csv

Recherches/BDD/Pertes_economiques_provoquees_par_des_situations_climatiques_extremes.xml
Recherches/BDD/Global_Ocean_Physics_Analysis_and_Forecast.nc
